
<!-- navbar -->
<nav class="navbar navbar-light bg-dark color- d-flex w-50 m-auto">
    <div class="container d-flex justify-content-around">
        <a class="btn btn-outline-light" href="/user/all-offer/?uid=<%= user%>">Go back</a>
        <span class=" text-light mb-0 h1">Offer</span>
        <a class=" btn btn-outline-light mx-1" href="/user/signout">signout</a>
    </div>
</nav>
